@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap");
@import "variables";

body {
  font-family: "Montserrat", sans-serif;
  color: $black-tc;
  background-color: $white-bg;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 0.01) 100%
  );
  z-index: 900;
  nav {
    transition: all 1s ease;
  }
  .sub-nav {
    li a {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: $white-tc !important;
      &:hover {
        color: $red-tc;
      }
    }
  }
  .main-nav {
    li a {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.3em;
      color: $white-tc !important;
      &:hover {
        color: $red-tc !important;
      }
    }
  }
  .toggle-button i{
    color: $white-tc !important;
  }
  .logo-div{
    @media screen and (max-width:768px) {
      width: 50% !important;
      
    }
  }
  .nav-scroll.sticky {
    background-color: white !important;
    transition: all 1s ease;
    .display {
      margin-top: -70px;
    }
    .sub-nav,
    .main-nav {
      li a {
        color: $acadia-tc !important;
      }
    }
    .toggle-button i{
      color: $red-tc !important;
    }
  }
}

.hero-section{
  @media screen and (min-width:768px) {
    height: 625px;
    
  }
  @media screen and (min-width:1024px) {
    height: 90vh;
    
  }
  .carousel-card-indicators{
    margin-bottom: 10rem ;
  }
}