@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #29261e;
  background-color: #fcfcfc;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.01)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.01) 100%);
  z-index: 1000;
}
header nav {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
header .sub-nav li a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fffffd !important;
}
header .sub-nav li a:hover {
  color: #FC1921;
}
header .main-nav li a {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3em;
  color: #fffffd !important;
}
header .main-nav li a:hover {
  color: #FC1921 !important;
}
@media screen and (max-width: 1399px) {
  header .main-nav {
    background-color: #fcfcfc;
  }
  header .main-nav li a {
    color: #29261e !important;
    padding-left: 10px;
  }
  header .main-nav li a:hover {
    color: #FC1921 !important;
  }
}
header .toggle-button i {
  color: #fffffd !important;
}
@media screen and (max-width: 768px) {
  header .logo-div {
    width: 50% !important;
  }
}
header .nav-scroll.sticky {
  background-color: #fcfcfc !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
header .nav-scroll.sticky .display {
  margin-top: -70px;
}
header .nav-scroll.sticky .sub-nav li a,
header .nav-scroll.sticky .main-nav li a {
  color: #3a372e !important;
}
header .nav-scroll.sticky .sub-nav li a:hover,
header .nav-scroll.sticky .main-nav li a:hover {
  color: #FC1921 !important;
}
header .nav-scroll.sticky .toggle-button i {
  color: #FC1921 !important;
}

.nav-scroll.sticky {
  -webkit-box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 80vh;
  }
}
@media screen and (min-width: 1024px) {
  .hero-section {
    height: 90vh;
  }
}
.hero-section .carousel-card-indicators {
  margin-bottom: 5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s ease !important;
  transition: all 1s ease !important;
}
.hero-section .carousel-card-indicators [data-bs-target] {
  width: 80%;
  height: auto;
  opacity: 1;
}
.hero-section .carousel-card-indicators [data-bs-target] h2 {
  padding: 2rem;
  text-indent: 0px;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 25px;
  color: #29261e !important;
}
.hero-section .carousel-card-indicators .active {
  font-size: 1.2rem;
  -webkit-transition: all 0.9s ease !important;
  transition: all 0.9s ease !important;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 0px 10%;
  background-color: #29261e;
  opacity: 1;
}
.hero-section .carousel-card-indicators .active h2 {
  color: white !important;
}
@media screen and (max-width: 425px) {
  .hero-section .carousel-card-indicators {
    margin-bottom: -7.9rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .hero-section .carousel-card-indicators [data-bs-target] {
    width: 100%;
    height: auto;
    opacity: 1;
  }
  .hero-section .carousel-card-indicators [data-bs-target] h2 {
    padding: 0.5rem 0.5rem;
    font-size: 0.5rem;
    line-height: 10px;
    color: #29261e !important;
  }
  .hero-section .carousel-card-indicators .active {
    font-size: 1rem;
    -webkit-transition: all 0.9s ease !important;
    transition: all 0.9s ease !important;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    margin: 0px 5%;
    background-color: #29261e;
    opacity: 1;
  }
  .hero-section .carousel-card-indicators .active h2 {
    padding: 0.5rem 1rem;
    color: white !important;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .hero-section .carousel-card-indicators {
    margin-bottom: 10rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-section .carousel-card-indicators {
    margin-bottom: 5rem;
  }
  .hero-section .carousel-card-indicators [data-bs-target] {
    width: 50%;
    height: auto;
    opacity: 1;
  }
  .hero-section .carousel-card-indicators [data-bs-target] h2 {
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 20px;
    color: #29261e !important;
  }
  .hero-section .carousel-card-indicators .active {
    font-size: 1rem;
    -webkit-transition: all 0.9s ease !important;
    transition: all 0.9s ease !important;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    margin: 0px 5%;
    background-color: #29261e;
    opacity: 1;
  }
  .hero-section .carousel-card-indicators .active h2 {
    padding: 2rem;
    color: white !important;
  }
}

.search-section form label {
  color: #FC1921;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.search-section form input {
  padding: 1rem 2rem;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  font-size: 1.5rem;
  border-color: transparent;
}
.search-section form input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.search-section form input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.search-section form input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.search-section form input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.search-section form input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.search-section form button {
  color: #FC1921;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: transparent;
  background-color: transparent;
}
.search-section ul li {
  list-style-type: none;
}
.search-section ul li a {
  text-decoration: none;
  color: #29261e;
  font-size: 15px;
  line-height: 20px;
}
.search-section ul li a:hover {
  color: #FC1921;
  text-decoration: underline;
}

.bigger-better-section h2 {
  font-weight: 300;
}
.bigger-better-section p {
  font-size: 16px;
  line-height: 1.7em;
  font-weight: 300;
}
.bigger-better-section a {
  color: #FC1921;
  font-size: 15px;
  line-height: 1.7rem;
  font-weight: 500;
  text-decoration: none;
}

.stories-section .tab-button {
  width: 85%;
}
.stories-section .tab-button button {
  font-size: 15px;
  font-weight: 600;
  padding: 12px 10px;
  border-radius: 30px;
  line-height: 1.2em;
  border-color: transparent;
  background-color: transparent;
  color: #212121;
  -webkit-transition: color 250ms, background-color 250ms;
  transition: color 250ms, background-color 250ms;
}
.stories-section .tab-button .active {
  font-size: 16px;
  color: #fffffd;
  background-color: #e7040b;
}
.stories-section .tab-content a {
  color: #29261e;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: a;
  transition: a;
}
.stories-section .tab-content a:hover .card h4, .stories-section .tab-content a:hover .card p {
  color: #FC1921;
}
.stories-section .tab-content .card {
  -webkit-box-shadow: 0 0 7px 2px rgba(37, 37, 37, 0.05);
          box-shadow: 0 0 7px 2px rgba(37, 37, 37, 0.05);
}
.stories-section .tab-content .card h4 {
  font-size: 24px;
  font-weight: 300;
  height: 4rem;
}
.stories-section .tab-content .card p {
  line-height: 1.5em;
  height: 10rem;
}
.stories-section .tab-content .card .button {
  padding: 9.5px 14px;
  color: #e7040b;
  border-radius: 50%;
  border-color: #e7040b !important;
}